{% extends 'layout.html' %}

{% block content %}
<div class="container" ng-app="influenceAllyHome">
    <div class="content" ng-controller="homeController">
        <div ui-view></div>
    </div>
</div>
{% endblock %}

{%block scripts%}
<script src="/scripts/angular/angular.min.js"></script>
<script src="/scripts/angular-ui-router/release/angular-ui-router.min.js"></script>

<script src="/js/angular/homeApp.js"></script>
<script src="/js/angular/controllers/homeController.js"></script>
<script src="/js/angular/controllers/allianceController.js"></script>
{% endblock %}