{% extends 'layout.html' %}

{% block css %}
<link rel="stylesheet" type="text/css" href="/scripts/selectize/dist/css/selectize.default.css">
<link rel="stylesheet" type="text/css" href="/bower/angular-notify/dist/angular-notify.css">
{% endblock %}


{% block content %}
<div class="container" ng-app="influenceAllyHome" ng-controller="homeController" ui-view>
</div>
{% endblock %}

{%block scripts%}
<script src="/scripts/angular/angular.min.js"></script>
<script src="/scripts/angular-ui-router/release/angular-ui-router.min.js"></script>
<script src="/scripts/angular-jwt/dist/angular-jwt.min.js"></script>
<script src="/scripts/selectize/dist/js/standalone/selectize.min.js"></script>
<script src="/scripts/angular-selectize2/dist/selectize.js"></script>

<script src="/bower/angular-notify/dist/angular-notify.js"></script>



<script src="/js/angular/notify-template-cache.js"></script>
<script src="/js/angular/homeApp.js"></script>
<script src="/js/angular/services/auth.js"></script>
<script src="/js/angular/controllers/homeController.js"></script>
<script src="/js/angular/controllers/alliances/new.js"></script>
<script src="/js/angular/controllers/alliances/existing.js"></script>
{% endblock %}