<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/images/favicon.ico?v3">
    <title>Influence Ally</title>
    <link rel="stylesheet" href="/scripts/purecss/build/pure-min.css">
    <!--[if lte IE 8]>
    <link rel="stylesheet" href="/scripts/purecss/build/grids-responsive-old-ie-min.css">
    <![endif]-->
    <!--[if gt IE 8]><!-->
    <link rel="stylesheet" href="/scripts/purecss/build/grids-responsive-min.css">
    <!--<![endif]-->
    <link rel="stylesheet" href="/scripts/font-awesome/css/font-awesome.css">
    <!--[if lte IE 8]>
    <link rel="stylesheet" href="/css/layouts/marketing-old-ie.css">
    <![endif]-->
    <!--[if gt IE 8]><!-->
    <link rel="stylesheet" href="/css/layouts/marketing.css">
    <!--<![endif]-->
    <link href="/css/less-space.css" rel="stylesheet">
    <link href="/scripts/md-color-palette/dist/styles/md-color-palette.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
    {% block css %}{% endblock %}
</head>

<body>
<div class="header">
    <div class="home-menu pure-menu pure-menu-horizontal pure-menu-fixed">
        <a class="pure-menu-heading" href="">Your Site</a>
        <ul class="pure-menu-list">
            <li class="pure-menu-item pure-menu-selected"><a href="#" class="pure-menu-link">Home</a></li>
            <li class="pure-menu-item"><a href="#" class="pure-menu-link">Tour</a></li>
            <li class="pure-menu-item"><a href="#" class="pure-menu-link">Sign Up</a></li>
        </ul>
    </div>
</div>
{% block content %}{% endblock %}
<script src="/scripts/jquery/dist/jquery.min.js"></script>
<script src="/scripts/vivus/dist/vivus.min.js"></script>
{%block scripts%}{% endblock %}
</body>

</html>
