.splash-container {
    background-image: url('/images/installiance.svg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

.error {
    color: rgba(160, 0, 0, 0.77);
}
