<div class="row">
    <h3>New Alliance</h3>
</div>
<div class="row">
    <div class="col-md-6">
        <form class="form-horizontal">
            <fieldset>
                <div class="form-group">
                    <label class="control-label" for="name">Alliance Name</label>
                    <input class="form-control" id="name" type="text" name="name" ng-model="name">
                </div>
                <div class="form-group">
                    <label class="control-label" for="influenceArea">Area of Influence</label>
                    <select id="influenceArea" class="form-control" ng-model="area">
                        <option ng-for="option in areaOptions">{{option}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="control-label">Tags</label>
                    <selectize config='tagConfig' options='tagOptions' ng-model="tags"
                               class="md-mt-20"></selectize>
                </div>
                <button ng-click="create()" class="md-mt-40 btn btn-raised btn-primary">Create
                </button>
            </fieldset>
        </form>
    </div>
</div>
