{% extends './../layout.html' %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-12 text-center">
            <h2 class="content-head is-center">Email Verified</h2>
        </div>
        <div class="col-md-12 text-center">
            <h3 class="content-subhead is-center">Thanks.</h3>
        </div>
        <div class="col-md-12 text-center">
            <br/>
            <a href='/login' class='btn btn-raised btn-primary md-mt-20'>Login</a>
        </div>

    </div>
</div>
{% endblock %}
{%block scripts%}
<script src="/scripts/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="/js/form-validation.js"></script>
{% endblock %}