{% extends './../layout.html' %}

{% block content %}
<div class="container">
    <div class="row text-center">
        <h2>Login</h2>
        <div class="row">
            <div class="col-md-12 text-center">{{errorMessage}}</div>
        </div>
        <div class="row md-mt-40">
            <div class="col-md-offset-4 col-md-4 text-center">
                <form method="POST" action="/login" name="login" class="form-horizontal">
                    <fieldset>
                        <div class="form-group">
                            <label class="control-label" for="email">Email Address</label>
                            <input class="form-control text-center" id="email" type="email" name="email">
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="pass">Password</label>
                            <input class="form-control text-center" name="pass" id="pass" type="password">
                        </div>
                        <button id="login-btn" type="submit" class="md-mt-40 btn btn-raised btn-primary">Login</button>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{%block scripts%}
<script src="/scripts/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="/js/jquery/login-form.js"></script>
{% endblock %}