{% extends './../layout.html' %}

{% block content %}
<div class="container">
    <div class="row">
        <h2>Login</h2>
        <div class="row">
            <div class="col-md-12 text-center">{{errorMessage}}</div>
        </div>
        <div class="row">
            <div class="col-md-offset-4">
                <form method="POST" action="/login" name="login" class="pure-form pure-form-stacked">
                    <fieldset>
                        <label for="email">Email</label>
                        <input name="email" id="email" type="email">
                        <label for="pass">Password</label>
                        <input name="pass" id="pass" type="password">
                        <button id="login-btn" type="submit" class="md-mt-20 pure-button">Login</button>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{%block scripts%}
<script src="/scripts/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="/js/form-validation-login.js"></script>
{% endblock %}