{% extends './../layout.html' %}

{% block content %}
<div class="container">
    <div class="row">
        <h2>Reset</h2>
    </div>
    <div class="row">
        <div class="col-md-offset-4">
            <form name="reset" class="pure-form pure-form-stacked">
                <fieldset>
                    <label for="oldPassword">Old Password</label>
                    <input name="oldPassword" id="oldPassword" type="password">
                    <label for="password">New Password</label>
                    <input name="password" id="password" type="password">
                    <label for="repeatPassword">Repeat New Password</label>
                    <input name="repeatPassword" id="repeatPassword" type="password">
                    <button data-shortid={{shortid}} id="reset-btn" type="submit" class="md-mt-20 pure-button">Reset
                        Password
                    </button>
                </fieldset>
            </form>
        </div>
    </div>
</div>
{% endblock %}
{%block scripts%}
<script src="/scripts/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="/js/form-validation-reset.js"></script>
{% endblock %}