{% extends './../layout.html' %}

{% block content %}
<div class="container">
    <div class="row text-center">
        <h2>Reset</h2>
    </div>
    <div class="row md-mt-20">
        <div class="col-md-offset-4 col-md-4 text-center">
            <form name="reset" class="form-horizontal">
                <fieldset>
                    <div class="form-group">
                        <label class="control-label" for="oldPassword">Old Password</label>
                        <input class="form-control" name="oldPassword" id="oldPassword" type="password">
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="password">New Password</label>
                        <input class="form-control" name="password" id="password" type="password">
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="repeatPassword">Repeat New Password</label>
                        <input class="form-control" name="repeatPassword" id="repeatPassword" type="password">
                    </div>
                    <button data-shortid={{shortid}} id="reset-btn" type="submit" class="md-mt-40 btn btn-raised btn-primary">Reset
                        Password
                    </button>
                </fieldset>
            </form>
        </div>
    </div>
</div>
{% endblock %}
{%block scripts%}
<script src="/scripts/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="/js/jquery/reset-form.js"></script>
{% endblock %}