<div class="row">
    <div class="col-md-8">
        <div class="row md-mt-20">
            <h4>Your Alliances</h4>
            <div ng-repeat="alliance in $root.alliances" class="list-group">
                <div class="list-group-item">
                    <div style="display: inline-block; padding-right: 15px;">
                        <ng-avatar initials="{[{alliance.name|initials}]}"></ng-avatar>
                    </div>
                    <div class="row-content">
                        <h4 class="list-group-item-heading"><a
                                ui-sref="existing-alliance({allianceId: alliance.allianceId})">{[{alliance.name}]}</a>
                        </h4>
                        <p class="list-group-item-text">{[{alliance.description}]}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row md-mt-20">
            <h4>Your Campaigns:</h4>
            <div ng-repeat="campaign in $root.campaigns" class="list-group">
                <div class="list-group-item">
                    <div style="display: inline-block; padding-right: 15px;">
                        <ng-avatar initials="{[{campaign.name|initials}]}"></ng-avatar>
                    </div>
                    <div class="row-content">
                        <h4 class="list-group-item-heading"><a
                                ui-sref="existing-campaign({campaignId: campaign.campaignId})">{[{campaign.name}]}</a>
                        </h4>
                        <p class="list-group-item-text">{[{campaign.description}]}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
    </div>
</div>