{% extends './../layout.html' %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="cold-md-12 text-center">
            <h2>Congratulations!</h2>
        </div>
        <div class="cold-md-12 text-center">
            <h3>Your application has been successful.</h3>
        </div>
    </div>
    <div class="row md-mt-40">
        <div class="col-md-offset-4 col-md-4 text-center">
            <form name="registration" class="form-horizontal">
                <fieldset>
                    <div class="form-group-lg label-floating">
                        <p>Enter Your Email to Onboard</p>
                        <input class="form-control text-center" name="email" id="email" type="email">
                    </div>
                    <button data-state={{state}} data-shortid={{medias.shortid}} id="onboard-btn" type="submit"
                            class="btn btn-raised btn-primary md-mt-20">Onboard
                    </button>
                </fieldset>
            </form>
        </div>
    </div>
</div>
</div>
{% endblock %}
{%block scripts%}
<script src="/scripts/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="/js/jquery/onboard-form.js"></script>
{% endblock %}