{% extends 'layout.html' %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="cold-md-12 text-center">
            <h2>Congratulations!</h2>
        </div>
        <div class="cold-md-12 text-center">
            <h3>Your application has been successful.</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-offset-4">
            <form name="registration" class="pure-form pure-form-stacked">
                <fieldset>
                    <label for="email">Enter Your Email to Onboard</label>
                    <input name="email" id="email" type="email">
                    <button data-shortid={{medias.shortid}} id="onboard-btn" type="submit"
                            class="md-mt-20 pure-button">Onboard
                    </button>
                </fieldset>
            </form>
        </div>
    </div>
</div>
</div>
{% endblock %}
{%block scripts%}
<script src="/scripts/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="/js/form-validation.js"></script>
{% endblock %}