<div class="row">
    <div class="col-md-4">
        <h3>{[{alliance.name}]}</h3>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        {[{alliance.description}]}
    </div>
</div>
<div class="row md-mt-20">
    <div class="col-md-2">
        Creator
    </div>
    <div class="col-md-4">
        {[{creator.full_name}]}
    </div>
</div>
<div class="row">
    <div class="col-md-2">
        Join Url
    </div>
    <div class="col-md-4">
        <a href="{[{joinUrl}]}">Join Link</a>
    </div>
</div>
<div class="row md-mt-20">
    <div ng-repeat="member in alliance.members" class="list-group col-md-4">
        <div class="list-group-item">
            <div class="row-picture">
                <img class="circle" ng-src="{[{member.profile_picture}]}" alt="icon">
            </div>
            <div class="row-content">
                <h4 class="list-group-item-heading">{[{member.full_name}]}</h4>

                <p class="list-group-item-text">{[{member.counts}]}</p>
            </div>
        </div>
    </div>
</div>