<div class="md-mt-20 right-panel">
    <div class="row">
        <div class="col-md-6">
            <h3>{[{campaign.name}]}</h3>
        </div>
    </div>
    <div class="row md-mb-10">
        <div class="col-md-6">
            <span class="iaTags" ng-repeat="tag in campaign.tags">{[{tag}]}</span>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <p>Current Status: <b>{[{campaign.status | uppercase}]}</b></p>
        </div>
    </div>
    <div class="row md-mt-40">
        <div ng-repeat="member in campaign.participants" class="list-group col-md-4">
            <div class="list-group-item">
                <div style="display: inline-block; padding-right: 15px;">
                    <ng-avatar initials="{[{member.initials}]}"></ng-avatar>
                </div>
                <div class="row-content">
                    <h4 class="list-group-item-heading">{[{member.name}]}</h4>
                    <p class="list-group-item-text">{[{member.description}]}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row md-mt-40">
        <div class="col-md-6">
            <button ng-click="changeStatus('accept_alliances')" ng-show="campaign.status=='draft'"
                    id="accept-alliance-btn"
                    class="btn btn-sm btn-raised btn-info">Accept Alliances
            </button>
            <button ng-click="changeStatus('live')" ng-show="campaign.status=='accept_alliances'" id="go-live-btn"
                    class="btn btn-sm btn-raised btn-success">Go Live
            </button>
            <button ng-click="changeStatus('draft')"
                    ng-show="campaign.status=='accept_alliances' ||campaign.status=='over'"
                    id="draft-btn" class="btn btn-sm btn-raised btn-primary">Draft
            </button>
            <button ng-click="changeStatus('over')" ng-show="campaign.status=='live'" id="over-btn"
                    class="btn btn-sm btn-raised btn-danger">Mark Campaign Complete
            </button>
        </div>
    </div>

    <div class="row md-mt-20" ng-show="campaign.status==='accept_alliances'">
        <div class="col-md-6">
            <form class="form-horizontal" name="joinCampaignForm" ng-submit="joinCampaign()" novalidate>
                <selectize options="allianceOptions"
                           config="{maxItems: 1, labelField: 'name',valueField: 'allianceId',create:false}"
                           id="joinAlliance" name="joinAlliance" ng-model="joinAlliance" required='true'></selectize>
                <button ng-disabled="joinCampaignForm.$invalid" id="join-btn"
                        class="btn btn-sm btn-raised btn-info">Join Campaign
                </button>
            </form>
        </div>
    </div>
</div>